{% extends 'base.html.twig' %}

{% block title %}Test 2{% endblock %}

{% block body %}
    <h2>Page de tests</h2>

    <p>Salut {{prenom}}!</p>
{% endblock %}

 {% block footer %}Ceci est le footer de la page salut{% endblock %}